Repository subsurface/subsurface, pull requests merged in 2018-04, with the labels that each got.

#1184 Add "Tags" column in Desktop app's dive list view
  CHANGELOG.md
  desktop-widgets/divelistview.cpp
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
Labels: dive-tags, needs-developer-feedback, ui-desktop

#1187 Change taglist_get_tagstring to support 'unlimited' tag list size
  core/dive.c
  core/dive.h
  core/qthelper.cpp
  core/qthelper.h
  core/subsurface-qt/DiveObjectHelper.cpp
  desktop-widgets/tab-widgets/maintab.cpp
  qt-models/divetripmodel.cpp
  tests/CMakeLists.txt
  tests/testtaglist.cpp
  tests/testtaglist.h
Labels: core, dive-tags, ui-desktop

#1220 Configure ostc3: Remove obsoleted setting
  core/configuredivecomputerthreads.cpp
  desktop-widgets/configuredivecomputerdialog.cpp
  desktop-widgets/configuredivecomputerdialog.ui
Labels: dive-computer, ui-desktop

#1166 Plot OC-pO2 graph for SCR dives
  core/color.cpp
  core/color.h
  core/pref.h
  core/profile.c
  core/profile.h
  core/subsurface-qt/SettingsObjectWrapper.cpp
  core/subsurface-qt/SettingsObjectWrapper.h
  core/subsurfacestartup.c
  desktop-widgets/preferences/preferences_graph.cpp
  desktop-widgets/preferences/preferences_graph.ui
  profile-widget/profilewidget2.cpp
  profile-widget/profilewidget2.h
  qt-models/diveplotdatamodel.cpp
  qt-models/diveplotdatamodel.h
Labels: dive-details, dive-profile, needs-developer-feedback

#1224 cmake: add the GCC_OPTIMIZATION_FLAGS variable
  CMakeLists.txt
Labels: build-system

#1222 When looking for gas change events only use those
  core/dive.h
Labels: bug-fix, core
