Repository subsurface/subsurface, pull requests merged in 2018-08, with the labels that each got.

#1552 Cleanup: remove silly " != 0" expression
  core/metadata.cpp
Labels: code-cleanup, complexity-low

#1551 Fix clang override-warnings: the nuclear option
  core/divesitehelpers.h
  core/downloadfromdcthread.h
  desktop-widgets/btdeviceselectiondialog.h
  desktop-widgets/configuredivecomputerdialog.h
  desktop-widgets/divelistview.h
  desktop-widgets/divepicturewidget.h
  desktop-widgets/groupedlineedit.h
  desktop-widgets/kmessagewidget.h
  desktop-widgets/locationinformation.h
  desktop-widgets/modeldelegates.h
  desktop-widgets/plugins/facebook/facebook_integration.h
  desktop-widgets/preferences/preferences_defaults.h
  desktop-widgets/preferences/preferences_georeference.h
  desktop-widgets/preferences/preferences_graph.h
  desktop-widgets/preferences/preferences_language.h
  desktop-widgets/preferences/preferences_network.h
  desktop-widgets/preferences/preferences_units.h
  desktop-widgets/simplewidgets.h
  desktop-widgets/starwidget.h
  desktop-widgets/statistics/statisticswidget.h
  desktop-widgets/subsurfacewebservices.h
  desktop-widgets/tab-widgets/TabDiveExtraInfo.h
  desktop-widgets/tab-widgets/TabDiveInformation.h
  desktop-widgets/tab-widgets/TabDivePhotos.h
  desktop-widgets/tab-widgets/TabDiveStatistics.h
  desktop-widgets/tableview.h
  desktop-widgets/undocommands.h
  profile-widget/divepixmapitem.h
  profile-widget/diveprofileitem.h
  profile-widget/profilewidget2.h
  profile-widget/ruleritem.h
  qt-models/cleanertablemodel.h
  qt-models/cylindermodel.h
  qt-models/divecomputerextradatamodel.h
  qt-models/divecomputermodel.h
  qt-models/divepicturemodel.h
  qt-models/diveplannermodel.h
  qt-models/diveplotdatamodel.h
  qt-models/divetripmodel.h
  qt-models/filtermodels.h
  qt-models/maplocationmodel.h
  qt-models/messagehandlermodel.h
  qt-models/models.h
  qt-models/ssrfsortfilterproxymodel.h
  qt-models/tankinfomodel.h
  qt-models/treemodel.h
  qt-models/weightmodel.h
  qt-models/weightsysteminfomodel.h
  qt-models/yearlystatisticsmodel.h
Labels: code-cleanup, complexity-low, rfc

#1566 Allow zero length segments in planner
  core/planner.c
Labels: bug-fix, planner

#1574 Cleanup: fix warning in unix.c
  core/unix.c
Labels: code-cleanup, complexity-low

#1580 divelogexportlogic: show warning on missing 'theme' folder
  core/divelogexportlogic.cpp
Labels: bug-fix, export

#1585 Cleanup: fix memory leak in OSTC import
  core/file.c
Labels: bug-fix, code-cleanup, complexity-low, core, import

#1586 Parse: pass dive_table argument to parse_file()
  core/dive.h
  core/file.c
  core/file.h
  core/parse-xml.c
  desktop-widgets/mainwindow.cpp
  desktop-widgets/subsurfacewebservices.cpp
  export-html.cpp
  mobile-widgets/qmlmanager.cpp
  tests/testdivesiteduplication.cpp
  tests/testgitstorage.cpp
  tests/testmerge.cpp
  tests/testparse.cpp
  tests/testpicture.cpp
  tests/testprofile.cpp
  tests/testrenumber.cpp
Labels: code-cleanup, core, parser

#1597 Cleanup: const-ify functions taking dives and divecomputers
  core/datatrak.h
  core/dive.c
  core/dive.h
  core/divelist.c
  core/divelist.h
  core/parse.h
  core/statistics.c
Labels: code-cleanup, core

#1603 Filter: don't count dives on mouse-hover
  qt-models/filtermodels.cpp
  qt-models/filtermodels.h
Labels: code-cleanup, complexity-medium, dive-filter

#1611 Dive trips: don't crash on repeated trip-removal
  desktop-widgets/divelistview.cpp
Labels: complexity-low, ui-desktop, undo

#1615 Zero initialize deco state struct
  qt-models/diveplannermodel.cpp
Labels: bug-fix, planner
