Repository subsurface/subsurface, pull requests merged in 2018-11, with the labels that each got.

#1841 Dive list: invert default sort order for sort by date / number
  desktop-widgets/divelistview.cpp
Labels: bug-fix, bug-regression, dive-list

#1842 Undo: fix addition of multiple dives
  qt-models/divetripmodel.cpp
Labels: bug-fix, dive-list, priority-high, undo

#1863 Fix Cressi interface ftdi opening bug
  core/serial_ftdi.c
Labels: bug-fix, dive-computer, new-contributor

#1864 Git parser: don't produce user-visible error on git parsing
  core/load-git.c
Labels: bug-fix

#1865 Improve OTU calculations
  CHANGELOG.md
  core/divelist.c
Labels: core, dive-computer, enhancements-we-intend-to-add

#1873 Cleanup: remove EMPTY_DIVE_STRING
  core/subsurface-qt/DiveObjectHelper.cpp
Labels: code-cleanup, ui-mobile
