Repository subsurface/subsurface, pull requests merged in 2018-03, with the labels that each got.

#1146 CONTIRBUTING.md: add a note about imperative mood
  CONTRIBUTING.md
Labels: documentation

#1106 Choose water presets from a qcombobox in planner
  CHANGELOG.md
  core/units.h
  desktop-widgets/diveplanner.cpp
  desktop-widgets/diveplanner.h
  desktop-widgets/diveplanner.ui
  desktop-widgets/tab-widgets/TabDiveInformation.ui
Labels: planner, ui-desktop

#1149 Cosmetic modifications in profile delta sample string
  core/profile.c
Labels: bug-fix, dive-profile

#1168 Cleanup: Initialize variable MainTab::lastSelectedDive
  desktop-widgets/tab-widgets/maintab.cpp
Labels: code-cleanup, needs-developer-feedback

#1177 Minor fixes MXE Windows build script: googlemaps and MXE comment
  packaging/windows/mxe-based-build.sh
Labels: build-system, googlemaps, os-windows
