Repository subsurface/subsurface, pull requests merged in 2018-09, with the labels that each got.

#1617 Cleanup: make DiveTripModel a global object
  desktop-widgets/divelistview.cpp
  desktop-widgets/divelistview.h
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
  qt-models/treemodel.cpp
  qt-models/treemodel.h
  qt-models/yearlystatisticsmodel.cpp
Labels: code-cleanup, dive-list

#1621 Cleanup: silence clang missing braces warning in core/color.cpp
  core/color.cpp
Labels: code-cleanup, complexity-low, priority-low

#1622 Build: suppress inconsistent-missing-override warnings on clang
  CMakeLists.txt
Labels: build-system, complexity-low, priority-low

#1659 Planner: fix display of "overlapping dives" message
  core/plannernotes.c
  desktop-widgets/tab-widgets/maintab.cpp
Labels: bug-fix, planner, rfc

#1668 serial_ftdi: use Sleep() on Win32
  core/serial_ftdi.c
Labels: core, enhancements-we-intend-to-add, os-windows

#1662 Optional anonymization upon export
  CHANGELOG.md
  core/dive.h
  core/save-xml.c
  desktop-widgets/divelogexportdialog.cpp
  desktop-widgets/divelogexportdialog.ui
  desktop-widgets/subsurfacewebservices.cpp
  smtk-import/smrtk2ssrfc_window.cpp
  smtk-import/smtk_standalone.cpp
  tests/testparse.cpp
  tests/testplan.cpp
Labels: complexity-low, export

#1678 Desktop: remove "edit dive" from log menu
  CHANGELOG.md
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mainwindow.h
  desktop-widgets/mainwindow.ui
Labels: needs-documentation-change

#1693 Dive media: on import read metadata only once
  core/dive.c
  core/dive.h
  desktop-widgets/simplewidgets.cpp
  desktop-widgets/simplewidgets.h
Labels: code-cleanup, complexity-low, dive-photos, dive-video, priority-low

#1706 Trivial: un-static function-local buffer
  core/parse-xml.c
Labels: code-cleanup, complexity-low, priority-low

#1705 Update divelist when changing units
  mobile-widgets/qml/Settings.qml
Labels: ui-mobile

#1711 Core: split process_dives() in post-import and post-load versions
  core/divelist.c
  core/divelist.h
  core/import-csv.c
  desktop-widgets/divelogimportdialog.cpp
  desktop-widgets/downloadfromdivecomputer.cpp
  desktop-widgets/mainwindow.cpp
  desktop-widgets/subsurfacewebservices.cpp
  mobile-widgets/qmlmanager.cpp
  qt-models/diveimportedmodel.cpp
  tests/testgitstorage.cpp
  tests/testmerge.cpp
  tests/testrenumber.cpp
Labels: code-cleanup, complexity-medium, core, dive-list

#1695 [TEST] Mobile: use editText instead of currentText in Suit and DiveMaster boxes
  mobile-widgets/qml/DiveDetailsEdit.qml
Labels: bug-fix, ui-mobile

#1733 [TRIVIAL] Mobile: don't call clear_dive() on deleteDive
  mobile-widgets/qmlmanager.cpp
Labels: code-cleanup, priority-low, ui-mobile
