Repository subsurface/subsurface, pull requests merged in 2018-05, with the labels that each got.

#1223 Csv
  desktop-widgets/divelogimportdialog.cpp
  xslt/manualcsv2xml.xslt
Labels: bug-fix, format-csv, import

#1231 Profile: Fix crash on addition of dive to fresh logbook
  profile-widget/profilewidget2.cpp
Labels: bug-fix, core, widget-profile

#1226 Fix CCR setpoint display bug
  core/color.cpp
  profile-widget/profilewidget2.cpp
Labels: bug-fix, needs-maintainer-feedback, widget-profile

#1238 Planner: Unify final ascent rates in plan() and fake_dc()
  core/device.c
  core/planner.c
Labels: bug-fix, needs-developer-feedback, planner

#1236 [RFC] Change behavior of "Edit dive"
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mainwindow.h
  desktop-widgets/tab-widgets/maintab.cpp
Labels: dive-details, ui-desktop, widget-maintab

#1279 Dive pictures: Don't enter infinity loop on invalid pictures
  core/imagedownloader.cpp
  core/imagedownloader.h
Labels: bug-fix, dive-photos

#1281 Dive pictures: don't attempt reading the same image twice
  core/imagedownloader.cpp
Labels: code-cleanup, dive-photos

#1285 mobile: fix wrong coords when saving new location
  mobile-widgets/qmlmanager.cpp
Labels: bug-fix, dive-site, ui-mobile

#1277 Update user manual for CCR and pSCR dive logs
  Documentation/images/CCR_bailout.jpg
  Documentation/images/CCR_preferences_f20.jpg
  Documentation/images/CCR_sensor_data_f20.jpg
  Documentation/images/CCR_setpoint_f20.jpg
  Documentation/images/DiveModeChange.jpg
  Documentation/images/Pref4_f23.jpg
  Documentation/images/pSCR_profile_bailout.jpg
  Documentation/user-manual.txt
Labels: documentation

#1280 Bugfix: Saving divemode to xml and to git
  core/save-git.c
  core/save-xml.c
Labels: bug-fix, export, format-xml

#1284 core: corrected wrong default email
  core/save-git.c
Labels: bug-fix, core

#1291 mobile: add "Copy log to clipboard" button
  mobile-widgets/qml/About.qml
  mobile-widgets/qmlmanager.cpp
  mobile-widgets/qmlmanager.h
  qt-models/messagehandlermodel.cpp
  qt-models/messagehandlermodel.h
Labels: enhancements-we-intend-to-add, needs-developer-feedback, ui-mobile

#1310 mobile: get dive event on profile.
  mobile-widgets/qmlprofile.cpp
Labels: needs-maintainer-feedback, ui-mobile

#1317 Fix includes for building against Qt-5.11.0
  desktop-widgets/divelistview.cpp
  desktop-widgets/templateedit.cpp
Labels: bug, qt

#1324 Cleanup: Don't defer deletion of oldModel in DiveListView::reload()
  desktop-widgets/divelistview.cpp
Labels: bug-fix, ui-desktop

#1323 Add .mailmap to combine individual contributors
  .mailmap
Labels: enhancements-we-intend-to-add, git

#1330 Cleanup: remove reply and request member variables in QMLManager
  mobile-widgets/qmlmanager.cpp
  mobile-widgets/qmlmanager.h
Labels: code-cleanup, qml, qt

#1313 core: qt-ble.cpp remove postEvent for all platforms
  core/qt-ble.cpp
Labels: bluetooth, code-cleanup, needs-ack

#1335 mobile: Adjust About.qml to fit small screens.
  mobile-widgets/qml/About.qml
Labels: bug-fix, ui-mobile

#1332 mobile: Fix missing icons
  mobile-widgets/qml/DiveList.qml
  mobile-widgets/qml/GpsList.qml
Labels: bug-fix, needs-maintainer-feedback, open-discussion, ui-mobile

#1338 User manual: Add text for dive planning CCR with bailout
  Documentation/images/CCR_b1.jpg
  Documentation/images/CCR_b2.jpg
  Documentation/images/CCR_b3.jpg
  Documentation/user-manual.txt
Labels: documentation

#1343 User Manual: add text for bailout using PSCR
  Documentation/images/pscr_b1.jpg
  Documentation/images/pscr_b2.jpg
  Documentation/user-manual.txt
Labels: documentation

#1342 Manual: fix showing of manual
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mainwindow.h
  desktop-widgets/usermanual.cpp
  desktop-widgets/usermanual.h
Labels: bug-fix, qt, ui-desktop
