Repository subsurface/subsurface, pull requests merged in 2018-12, with the labels that each got.

#1875 Dive list: fix off-by-two bug in DiveTripModel
  qt-models/divetripmodel.cpp
Labels: bug-fix, dive-list, ui-desktop

#1885 Cleanup: don't leak filename on picture creation
  desktop-widgets/divelistview.cpp
Labels: code-cleanup, dive-photos

#1886 Dive media: add media to closest dive
  core/dive.c
  core/dive.h
  desktop-widgets/divelistview.cpp
  tests/testpicture.cpp
Labels: dive-photos, open-discussion, rfc

#1881 Dive list: remove trip from model only once
  desktop-widgets/command_divelist.cpp
Labels: bug-fix, code-cleanup, dive-list

#1888 Core: remove count_dives_with_*() functions
  core/dive.c
  core/dive.h
  core/qthelper.cpp
Labels: code-cleanup, core

#1897 Improve error reporting when exporting a selection of 0 dives.
  desktop-widgets/subsurfacewebservices.cpp
Labels: new-contributor

#1899 [TRIVIAL] Cleanup: remove unused parameter was_autogen
  core/divelist.c
  core/divelist.h
  core/uemis-downloader.c
  desktop-widgets/command_divelist.cpp
Labels: code-cleanup, complexity-low, core

#1905 Cleanup: remove getDiveId() functions
  qt-models/divelistmodel.cpp
  qt-models/divelistmodel.h
Labels: code-cleanup, complexity-low, dive-list, ui-mobile

#1907 Mobile: fix editing dive site (Quickfix for #1887)
  mobile-widgets/qmlmanager.cpp
Labels: bug-fix, mobile-ui
