Repository subsurface/subsurface, pull requests merged in 2018-02, with the labels that each got.

#1096 Add a preference to turn on ICD warnings
  core/dive.c
  core/pref.h
  core/subsurface-qt/SettingsObjectWrapper.cpp
  core/subsurface-qt/SettingsObjectWrapper.h
  core/subsurfacestartup.c
  desktop-widgets/preferences/preferences_graph.cpp
  desktop-widgets/preferences/preferences_graph.ui
Labels: planner, settings/preferences

#1107 Cleanups in Windows implementation of BT device discovery agent
  desktop-widgets/btdeviceselectiondialog.cpp
Labels: bluetooth, os-windows

#1110 smtk-import: Fix error management issue
  smtk-import/smrtk2ssrfc_window.cpp
Labels: bug-fix, smtk-import

#1109 dump_tissues: fix missing 'struct deco_state' argument
  core/divelist.c
  core/profile.c
Labels: bug-fix, planner

#1127 Indicate direction of transition in verbatim plan
  core/plannernotes.c
Labels: planner

#1125 Exit add_plan_to_notes() in plannernotes.c always via label finished
  core/plannernotes.c
Labels: bug, needs-ack, planner

#885 Updated strategy for removing cylinders
  core/dive.c
  core/dive.h
  core/statistics.c
  qt-models/cylindermodel.cpp
  qt-models/diveplannermodel.cpp
Labels: bug-fix, core, dive-cylinder
