Repository subsurface/subsurface, pull requests merged in 2018-06, with the labels that each got.

#1347 user-manual: add note that some Grantlee variables need '|safe'
  Documentation/user-manual.txt
Labels: documentation

#1352 Bugfix: Load PSC dive logs
  core/dive.c
Labels: bug-fix, core

#1361 Dive pictures: remove cache_picture() call in dive_add_picture()
  core/dive.c
  core/qthelper.cpp
  core/qthelper.h
Labels: code-cleanup, dive-photos

#1438 Add Cressi Giotto, Newton and Drake to list of devices
  core/downloadfromdcthread.cpp
Labels: dive-computer, ui-desktop

#1444 Dive pictures: adjust rowDDEnd and rowDDStart on picture deletion
  qt-models/divepicturemodel.cpp
Labels: bug-fix, dive-photos, priority-high
