Repository subsurface/subsurface, pull requests merged in 2019-04, with the labels that each got.

#2034 [TRIVIAL] Cleanup: remove all Q_NULLPTR instances
  desktop-widgets/mapwidget.cpp
  desktop-widgets/printoptions.h
  desktop-widgets/templatelayout.cpp
  profile-widget/tankitem.cpp
Labels: code-cleanup, complexity-low

#2033 Export profile data
  CHANGELOG.md
  core/CMakeLists.txt
  core/save-profiledata.c
  core/save-profiledata.h
  desktop-widgets/divelogexportdialog.cpp
  desktop-widgets/divelogexportdialog.ui
Labels: dive-profile, export, needs-documentation-change

#2048 Desktop: put dive site table in "row selection mode"
  desktop-widgets/tab-widgets/TabDiveSite.cpp
Labels: dive-site, ui-desktop

#2049 Desktop: destroy maintab before destructing mainwindow
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mainwindow.h
Labels: bug-fix, dive-site, ui-desktop

#2050 Desktop: remove edit-check in tag-widget completer
  desktop-widgets/tagwidget.cpp
Labels: bug-fix, ui-desktop

#2057 Cleanup: free dive table in trips and dive sites
  core/divelist.c
  core/divesite.c
Labels: bug-fix, core, dive-site

#2059 Dive site: display proper text for the two special options
  desktop-widgets/locationinformation.cpp
Labels: bug-fix, dive-site, ui-desktop

#2060 Don't show surface gas in gas use list
  core/plannernotes.c
Labels: planner

#2062 Mobile: reinstate roleNames function in ConnectionListModel
  core/connectionlistmodel.cpp
  core/connectionlistmodel.h
Labels: bug-fix, ui-mobile

#2055 Write dive data as video subtitles
  CHANGELOG.md
  Documentation/user-manual.txt
  core/save-profiledata.c
  core/save-profiledata.h
  desktop-widgets/tab-widgets/TabDivePhotos.cpp
  desktop-widgets/tab-widgets/TabDivePhotos.h
  qt-models/divepicturemodel.cpp
  qt-models/divepicturemodel.h
Labels: dive-photos, export

#2074 Support for Scubapro G2 HUD discovery via bluetooth
  core/btdiscovery.cpp
Labels: new-contributor

#2071 A few grantlee cleanups
  desktop-widgets/templatelayout.cpp
  desktop-widgets/templatelayout.h
Labels: code-cleanup, printing, priority-low
