Repository subsurface/subsurface, pull requests merged in 2019-10, with the labels that each got.

#2308 Bailout gas switch
  core/planner.c
Labels: bug-fix, planner

#2325 Planner: copy deco state before passing it to worker thread
  qt-models/diveplannermodel.cpp
  qt-models/diveplannermodel.h
Labels: bug-fix, planner

#2344 Code cleanups to the tank-bar
  profile-widget/tankitem.cpp
  profile-widget/tankitem.h
Labels: code-cleanup, dive-profile

#2349 Desktop: fix dive site editing
  CHANGELOG.md
  desktop-widgets/locationinformation.cpp
Labels: bug-fix, dive-site, ui-desktop

#2353 Planner: Add option to treat O2 as narcotic
  CHANGELOG.md
  Documentation/user-manual.txt
  core/dive.c
  core/dive.h
  core/pref.h
  core/settings/qPrefDivePlanner.cpp
  core/settings/qPrefDivePlanner.h
  core/subsurfacestartup.c
  desktop-widgets/diveplanner.cpp
  desktop-widgets/diveplanner.h
  desktop-widgets/plannerSettings.ui
  qt-models/cylindermodel.cpp
Labels: planner
