Repository subsurface/subsurface, pull requests merged in 2019-12, with the labels that each got.

#2422 Selection: provide convenience function for single-dive selection
  commands/command_divelist.cpp
  core/selection.cpp
  core/selection.h
Labels: code-cleanup, dive-list

#2433 Dive list: implement DiveTripModelBase::reset()
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
Labels: dive-list

#2432 [RFC] build-system: allow shared source across multiple hosts
  scripts/build.sh
Labels: build-system

#2441 Coding style: use std::equal_to instead of lambda
  qt-models/divetripmodel.cpp
Labels: code-cleanup

#2447 Stop Compiler Warning: Change struct to class
  qt-models/divetripmodel.h
Labels: needs-ack

#2460 (Trivial?) cleanup: Turn QMLProfile::diveId from QString to int
  profile-widget/qmlprofile.cpp
  profile-widget/qmlprofile.h
Labels: dive-profile, ui-mobile

#2427 fixed typo in comment
  scripts/windows/travisbuild.sh
Labels: new-contributor
