Repository subsurface/subsurface, pull requests merged in 2019-09, with the labels that each got.

#2277 Dive site: close dive site edit widget when dive site is deleted
  CHANGELOG.md
  desktop-widgets/locationinformation.cpp
  desktop-widgets/locationinformation.h
Labels: bug-fix, dive-site, ui-desktop

#2282 Show correct notes entry when switching on stops
  core/planner.c
  core/plannernotes.c
  desktop-widgets/plannerSettings.ui
Labels: bug-fix, planner

#2290 if only one dive, max depth show in average field
  desktop-widgets/tab-widgets/TabDiveStatistics.cpp
Labels: new-contributor
