Repository subsurface/subsurface, pull requests merged in 2019-11, with the labels that each got.

#2356 Profile: remove ProfileWidget2::recalcCeiling()
  desktop-widgets/tab-widgets/maintab.cpp
  profile-widget/profilewidget2.cpp
  profile-widget/profilewidget2.h
Labels: dive-cylinder, dive-profile

#2372 Two trivial(?) cleanups
  desktop-widgets/divelistview.cpp
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
  qt-models/filtermodels.cpp
Labels: code-cleanup

#2369 Profile: fix pressure scale
  core/profile.c
Labels: bug-fix, dive-cylinder, dive-profile

#2381 Cleanup: don't std::move() temporaries
  desktop-widgets/command_divesite.cpp
Labels: code-cleanup, ui-desktop

#2379 [RFC] Refactoring: move undo commands to top level
  CMakeLists.txt
  commands/CMakeLists.txt
  commands/command.cpp
  commands/command.h
  commands/command_base.cpp
  commands/command_base.h
  commands/command_divelist.cpp
  commands/command_divelist.h
  commands/command_divesite.cpp
  commands/command_divesite.h
  commands/command_edit.cpp
  commands/command_edit.h
  commands/command_edit_trip.cpp
  commands/command_edit_trip.h
  commands/command_private.cpp
  commands/command_private.h
  desktop-widgets/CMakeLists.txt
  desktop-widgets/divelistview.cpp
  desktop-widgets/divelogimportdialog.cpp
  desktop-widgets/divesiteimportdialog.cpp
  desktop-widgets/downloadfromdivecomputer.cpp
  desktop-widgets/locationinformation.cpp
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mapwidget.cpp
  desktop-widgets/simplewidgets.cpp
  desktop-widgets/subsurfacewebservices.cpp
  desktop-widgets/tab-widgets/TabDiveEquipment.cpp
  desktop-widgets/tab-widgets/TabDiveInformation.cpp
  desktop-widgets/tab-widgets/TabDiveSite.cpp
  desktop-widgets/tab-widgets/maintab.cpp
  profile-widget/profilewidget2.cpp
  qt-models/divelocationmodel.cpp
  qt-models/diveplannermodel.cpp
  qt-models/divetripmodel.cpp
Labels: build-system, ui-desktop, ui-mobile, undo

#2384 Dive list: signal correct trip in DiveTripModelTree::topLevelChanged
  qt-models/divetripmodel.cpp
Labels: bug-fix, dive-list

#2378 Core: set gas use to zero if no values are given
  core/statistics.c
Labels: core, dive-gas

#2390 CHANGELOG.md update
  CHANGELOG.md
Labels: documentation

#2406 Cylinders: Fix crash when removing cylinders
  qt-models/cylindermodel.cpp
  qt-models/cylindermodel.h
  qt-models/weightmodel.cpp
  qt-models/weightmodel.h
Labels: bug-fix, dive-cylinder, ui-desktop

#2408 [RFC] Desktop: Improve speed of selecting multiple (or all) dives
  CHANGELOG.md
  desktop-widgets/divelistview.cpp
  desktop-widgets/divelistview.h
Labels: dive-list, ui-desktop

#2409 Add current GF to infobox
  CHANGELOG.md
  Documentation/user-manual.txt
  core/profile.c
  core/profile.h
Labels: complexity-low, dive-deco, dive-profile
