Repository subsurface/subsurface, pull requests merged in 2019-05, with the labels that each got.

#2084 [TRIVIAL] Cleanup: remove unused macro SURFACE_PRESSURE_STRING
  core/units.h
Labels: code-cleanup, complexity-low, core

#2083 Desktop: fix crash on dive site tab
  desktop-widgets/tab-widgets/maintab.cpp
Labels: bug-fix, dive-site, ui-desktop

#2091 [RFC] Cleanup: remove UTF8 macros
  core/dive.c
  core/dive.h
  core/divelist.c
  core/profile.c
  core/qthelper.cpp
  profile-widget/diveprofileitem.cpp
  qt-models/divetripmodel.cpp
Labels: code-cleanup, core, rfc

#2090 Core: consider dive-number on sorting
  CHANGELOG.md
  core/divelist.c
Labels: core, dive-list

#2097 Undo: properly reference-count dive sites
  desktop-widgets/command_divelist.cpp
Labels: bug-fix, dive-site, undo

#2111 Check if dive_site exists before accessing its name
  desktop-widgets/simplewidgets.cpp
Labels: bug-fix, ui-desktop
