Repository subsurface/subsurface, pull requests merged in 2019-07, with the labels that each got.

#2161 Trivial cleanups: remove some unused declarations and an unused function
  core/display.h
  subsurface-helper.cpp
Labels: code-cleanup, complexity-low, dive-profile

#2164 Cleanup: fix memory management of the plot data
  core/profile.c
  core/profile.h
  core/save-profiledata.c
  profile-widget/profilewidget2.cpp
Labels: bug-fix, code-cleanup, dive-profile

#2168 Git: handle excess of cylinders or weightsystems gracefully
  core/load-git.c
Labels: code-cleanup, dive-equipment, dive-gas, git

#2166 User manual: updates to undo description
  Documentation/user-manual.txt
Labels: documentation

#2184 Cleanup: Remove unused function calls in main tab
  desktop-widgets/tab-widgets/maintab.cpp
Labels: code-cleanup, complexity-low, dive-details, statistics

#2195 [TRIVIAL] Cleanup: remove TankItem::diveCylinderStore
  profile-widget/tankitem.cpp
  profile-widget/tankitem.h
Labels: code-cleanup, dive-cylinder

#2194 Desktop: fix index in weightsystems_equal()
  desktop-widgets/tab-widgets/maintab.cpp
Labels: bug-fix, dive-equipment, ui-desktop

#2192 [RFC] Core: split copy_cylinders() in two functions
  core/dive.c
Labels: code-cleanup, core, dive-cylinder

#2197 Crash fix: prevent crash in MapLocationModel::reload
  CHANGELOG.md
  qt-models/maplocationmodel.cpp
Labels: bug-fix, widget-map
