Repository subsurface/subsurface, pull requests merged in 2019-06, with the labels that each got.

#2122 Desktop: don't show location-popup button in trip-edit mode
  desktop-widgets/tab-widgets/maintab.cpp
Labels: bug-fix, ui-desktop

#2147 Import: use TRIP_THRESHOLD when checking for trip-overlap
  core/divelist.c
  core/trip.c
  core/trip.h
Labels: bug-fix, import

#2142 Cleanup: remove includes from extern "C" block
  core/save-html.h
Labels: code-cleanup, core

#2133 [RFC] Dive merge: don't use unset dive numbers
  desktop-widgets/command_divelist.cpp
Labels: bug-fix, rfc

#2141 Planner: Wait minimum switch time when bailing out to OC
  core/planner.c
Labels: planner
