Repository subsurface/subsurface, pull requests merged in 2019-01, with the labels that each got.

#1921 desktop/preferences: rename the default file group
  desktop-widgets/preferences/preferences_defaults.ui
Labels: code-cleanup, settings/preferences, ui-desktop

#1920 update year to 2019 in about screens
  desktop-widgets/about.cpp
  mobile-widgets/qml/About.qml
Labels: code-cleanup, ui-desktop, ui-mobile

#1915 Dive sites: don't delete unused dive sites on save
  core/divesite.c
  core/divesite.h
  core/save-git.c
  core/save-xml.c
Labels: bug-fix, dive-site, undo

#1906 Dive list: split list and tree-models
  desktop-widgets/divelistview.cpp
  desktop-widgets/divelistview.h
  desktop-widgets/mainwindow.cpp
  desktop-widgets/modeldelegates.cpp
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
  qt-models/filtermodels.cpp
  qt-models/filtermodels.h
Labels: code-cleanup, dive-list, ui-desktop

#1933 Download: don't refresh display if thread finished
  desktop-widgets/downloadfromdivecomputer.cpp
Labels: code-cleanup, import, ui-desktop

#1934 Don't allow empty username for git
  core/save-git.c
  core/unix.c
Labels: cloud-storage, git

#1939 Import: fix erroneous flag
  desktop-widgets/downloadfromdivecomputer.cpp
Labels: bug-fix, import

#1949 Cleanup: remove unused function setCheckedActionFilterTags()
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mainwindow.h
Labels: code-cleanup, complexity-low, dive-filter, ui-desktop

#1948 FB redirect use https instead of http
  desktop-widgets/plugins/facebook/facebookconnectwidget.cpp
Labels: facebook

#1955 [TRIVIAL] Cleanup: remove redundant conditional
  desktop-widgets/tab-widgets/maintab.cpp
Labels: code-cleanup, complexity-low
