Repository subsurface/subsurface, pull requests merged in 2020-02, with the labels that each got.

#2584 Cleanup: lower-case filenames in core/subsurface-qt/
  commands/command_base.cpp
  commands/command_divelist.cpp
  commands/command_divesite.cpp
  commands/command_edit.h
  commands/command_edit_trip.h
  core/CMakeLists.txt
  core/selection.cpp
  core/subsurface-qt/cylinderobjecthelper.cpp
  core/subsurface-qt/cylinderobjecthelper.h
  core/subsurface-qt/divelistnotifier.cpp
  core/subsurface-qt/divelistnotifier.h
  core/subsurface-qt/diveobjecthelper.cpp
  core/subsurface-qt/diveobjecthelper.h
  desktop-widgets/divelistview.h
  desktop-widgets/locationinformation.cpp
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mapwidget.h
  desktop-widgets/tab-widgets/TabDiveInformation.h
  desktop-widgets/tab-widgets/TabDiveSite.cpp
  desktop-widgets/tab-widgets/TabDiveStatistics.h
  desktop-widgets/tab-widgets/maintab.h
  desktop-widgets/templatelayout.h
  map-widget/qmlmapwidgethelper.h
  packaging/ios/Subsurface-mobile.pro
  qt-models/cylindermodel.cpp
  qt-models/divelistmodel.h
  qt-models/divelocationmodel.cpp
  qt-models/divetripmodel.h
  qt-models/filtermodels.cpp
  qt-models/maplocationmodel.h
  qt-models/weightmodel.cpp
Labels: code-cleanup

#2586 Dive site: inform map of selection in DiveFilter::setFilterDiveSite
  core/divefilter.cpp
Labels: bug-fix, dive-site, ui-desktop, widget-map

#2581 Cleanup: Dive sites: select each dive site only once
  desktop-widgets/divelistview.cpp
Labels: code-cleanup, dive-site

#2580 Dive site: ignore dive sites without location in proximity search
  CHANGELOG.md
  qt-models/divelocationmodel.cpp
Labels: complexity-low, dive-site, ui-desktop

#2589 [TRIVIAL] Cleanup: remove capture-all lambda clauses
  desktop-widgets/diveplanner.cpp
  mobile-widgets/qmlmanager.cpp
  qt-models/divelistmodel.cpp
Labels: code-cleanup

#2582 Cleanup: don't initialize DivePlannerPointsModel at startup
  desktop-widgets/diveplanner.cpp
Labels: code-cleanup, planner

#2603 [TRIVIAL] Cleanup: remove erroneous comments
  core/settings/qPrefPrivate.cpp
Labels: code-cleanup

#2602 Dive list: be more careful on when updating the UI after selection
  desktop-widgets/divelistview.cpp
  desktop-widgets/divelistview.h
Labels: bug-fix, dive-list, ui-desktop

#2608 Summary tuning
  mobile-widgets/qml/DiveSummary.qml
Labels: ui-mobile

#2611 Cleanup: remove filterSelectedDives function in divetripmodel.cpp
  qt-models/divetripmodel.cpp
Labels: code-cleanup

#2617 mobile UI: restructure menu
  mobile-widgets/qml/main.qml
Labels: needs-documentation-change, ui-mobile

#2626 Cleanup: remove unneeded QtConcurrent includes
  desktop-widgets/divepicturewidget.cpp
  desktop-widgets/mainwindow.cpp
Labels: code-cleanup

#2630 undo: don't add dive to null-trip
  commands/command_divelist.cpp
Labels: code-cleanup, undo

#2631 [TRIVIAL] cleanup: remove CleanerTableModel::warningMessage signal
  qt-models/cleanertablemodel.h
  qt-models/diveplannermodel.cpp
Labels: code-cleanup

#2633 CylinderModel: remove unnecessary "Is used" header
  qt-models/cylindermodel.cpp
Labels: bug-fix, dive-cylinder, ui-desktop
