Repository subsurface/subsurface, pull requests merged in 2020-04, with the labels that each got.

#2720 cleanup: copy saved_git_id, don't use local buffer
  core/load-git.c
Labels: code-cleanup, git

#2721 undo/mobile: keep track of dive sites
  commands/command_edit.cpp
  commands/command_edit.h
  mobile-widgets/qmlmanager.cpp
Labels: dive-site, ui-mobile, undo

#2723 mobile: dive site fixes
  mobile-widgets/qmlmanager.cpp
Labels: dive-site, ui-mobile, undo

#2730 git: don't check for git sha in parse_file()
  core/file.c
Labels: code-cleanup, core, parser

#2734 undo: refine pasting of cylinders
  commands/command_edit.cpp
Labels: bug-fix, dive-cylinder, undo

#2742 cleanup: don't keep pointer-to-picture in PictureEntry
  qt-models/divepicturemodel.cpp
  qt-models/divepicturemodel.h
Labels: code-cleanup

#2643 First steps of cylinder-editing undo
  CHANGELOG.md
  commands/CMakeLists.txt
  commands/command.cpp
  commands/command.h
  commands/command_base.h
  commands/command_edit.cpp
  commands/command_edit.h
  commands/command_event.cpp
  commands/command_event.h
  core/dive.c
  core/dive.h
  core/equipment.c
  core/equipment.h
  core/parse-xml.c
  core/planner.c
  core/profile.c
  core/qthelper.cpp
  core/qthelper.h
  core/subsurface-qt/divelistnotifier.h
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mainwindow.h
  desktop-widgets/modeldelegates.cpp
  desktop-widgets/modeldelegates.h
  desktop-widgets/simplewidgets.cpp
  desktop-widgets/simplewidgets.h
  desktop-widgets/tab-widgets/TabDiveEquipment.cpp
  desktop-widgets/tab-widgets/TabDiveEquipment.h
  desktop-widgets/tab-widgets/maintab.cpp
  desktop-widgets/tab-widgets/maintab.h
  profile-widget/profilewidget2.cpp
  profile-widget/profilewidget2.h
  qt-models/cleanertablemodel.h
  qt-models/cylindermodel.cpp
  qt-models/cylindermodel.h
  qt-models/diveplannermodel.cpp
  qt-models/weightmodel.cpp
  qt-models/weightmodel.h
Labels: dive-cylinder, needs-testing, undo, work-in-progress

#2741 media: invalidate correct dive when removing picture
  core/dive.c
Labels: bug-fix

#2744 [TRIVIAL] cleanup: remove unnecessary profile update after adding new dive
  desktop-widgets/mainwindow.cpp
Labels: code-cleanup, complexity-low, dive-profile, ui-desktop

#2747 mobile: don't call main loop for notifications once initialized
  mobile-widgets/qmlmanager.cpp
Labels: ui-mobile

#2750 divelist: when removing/adding a dive unregister/register fulltext
  commands/command_divelist.cpp
  core/divelist.c
Labels: bug-fix, dive-filter

#2748 desktop: remove special QGroupBox stylesheet for non-Windows systems
  desktop-widgets/tab-widgets/TabDiveInformation.cpp
Labels: ui-desktop

#2759 dive sites: properly reload dive site model on desktop
  qt-models/divetripmodel.cpp
  qt-models/filtermodels.cpp
Labels: bug-fix, dive-site, release-blocker, ui-desktop

#2763 profile: avoid double-free when reusing plot_info
  core/profile.c
Labels: bug-fix, dive-profile, export

#2764 Fix CSV for profile export
  core/save-profiledata.c
Labels: dive-profile, export

#2775 desktop: rearrange widgets on the dive site tab
  desktop-widgets/tab-widgets/TabDiveSite.ui
Labels: dive-site, ui-desktop

#2782 map: remove selectedDivesChanged signal
  map-widget/qml/MapWidget.qml
Labels: code-cleanup, widget-map

#2790 cleanup: remove unused function get_divepoint_gas_string()
  core/qthelper.cpp
  core/qthelper.h
Labels: code-cleanup, complexity-low

#2796 profile: set empty state when there is no current dive to show
  profile-widget/profilewidget2.cpp
Labels: bug-fix, dive-profile

#2795 README.md: fix typo in system requirements
  README.md
Labels: documentation

#2800 [TRIVIAL] cleanup: replace Q_ASSERT by qWarning
  profile-widget/diveeventitem.cpp
Labels: code-cleanup
