Repository subsurface/subsurface, pull requests merged in 2020-05, with the labels that each got.

#2801 profile: properly update lastgasmix when populating events
  profile-widget/diveeventitem.cpp
  profile-widget/profilewidget2.cpp
Labels: bug-fix, bug-regression, dive-cylinder, dive-profile

#2807 desktop: ask user when quitting application while planning
  desktop-widgets/mainwindow.cpp
Labels: planner, ui-desktop

#2813 Grantlee: Add salinity and water type to grantlee variables
  Documentation/user-manual.txt
  core/dive.c
  core/dive.h
  core/qthelper.cpp
  core/qthelper.h
  core/subsurface-qt/diveobjecthelper.cpp
  core/subsurface-qt/diveobjecthelper.h
  desktop-widgets/tab-widgets/TabDiveInformation.cpp
  desktop-widgets/tab-widgets/TabDiveInformation.h
Labels: enhancements-we-intend-to-add, printing-templates

#2823 desktop: avoid spurious undo commands for date/time editing
  desktop-widgets/tab-widgets/maintab.cpp
  desktop-widgets/tab-widgets/maintab.h
Labels: ui-desktop, undo

#2824 Remove displayed_dive dependency of ExtraDataModel
  desktop-widgets/tab-widgets/TabDiveExtraInfo.cpp
  qt-models/divecomputerextradatamodel.cpp
  qt-models/divecomputerextradatamodel.h
Labels: code-cleanup, dive-computer

#2841 Idle whitespace and other cleanups concerning model delegates
  desktop-widgets/modeldelegates.cpp
  desktop-widgets/modeldelegates.h
Labels: code-cleanup

#2839 desktop: don't call plotDive with doClearPictures = true
  CHANGELOG.md
  desktop-widgets/mainwindow.cpp
Labels: bug-fix, dive-photos, dive-profile, ui-desktop

#2853 [TRIVIAL] two minor code hygiene fixes
  core/dive.c
  core/dive.h
Labels: code-cleanup, complexity-low

#2864 [TRIVIAL] cleanup: make local functions of static linkage
  core/save-html.c
Labels: code-cleanup, complexity-low
