Repository subsurface/subsurface, pull requests merged in 2020-12, with the labels that each got.

#3097 [TRIVIAL] cleanup: remove unnecessary includes from divepicturewidget.cpp
  desktop-widgets/divepicturewidget.cpp
Labels: code-cleanup, complexity-low, ui-desktop

#3098 Fix cylinders in printing templates
  desktop-widgets/templatelayout.cpp
Labels: bug-fix, printing

#3100 Add surge etc to printing template variables
  core/subsurface-qt/diveobjecthelper.cpp
  core/subsurface-qt/diveobjecthelper.h
  desktop-widgets/templatelayout.cpp
Labels: printing

#3103 [TRIVIAL] remove unused code
  desktop-widgets/mainwindow.h
Labels: code-cleanup, complexity-low, ui-desktop

#3105 core: correct AL* tankinfo sizes.
  core/equipment.c
Labels: bug-fix, core, dive-cylinder

#3107 profile: remove clearHandlers function (fixes crash)
  profile-widget/profilewidget2.cpp
  profile-widget/profilewidget2.h
Labels: bug-fix, dive-profile, planner
