Repository subsurface/subsurface, pull requests merged in 2020-03, with the labels that each got.

#2642 Desktop: fix scrolling through the dive list with cursor keys
  desktop-widgets/divelistview.cpp
  desktop-widgets/divelistview.h
Labels: bug-fix, dive-list, ui-desktop

#2645 [TRIVIAL] cleanup: make version_printed variable static and local to function
  core/subsurfacestartup.c
Labels: code-cleanup

#2661 cleanup: fix NOCLOUD_LOCALSTORAGE leak
  mobile-widgets/qmlmanager.cpp
  mobile-widgets/qmlmanager.h
Labels: bug-fix, code-cleanup, ui-mobile

#2666 Grammar: replaces 'indexes' by 'indices'
  Documentation/make_PO_to_ASCIIDOC.sh
  commands/command_edit.cpp
  commands/command_edit.h
  core/dive.c
  core/profile.c
  core/save-xml.c
  desktop-widgets/divelistview.cpp
  desktop-widgets/divelistview.h
  desktop-widgets/divelogimportdialog.cpp
  desktop-widgets/tab-widgets/TabDivePhotos.cpp
  desktop-widgets/tab-widgets/TabDiveSite.cpp
  map-widget/qmlmapwidgethelper.cpp
  mobile-widgets/qmlmanager.cpp
  profile-widget/profilewidget2.cpp
  qt-models/cylindermodel.cpp
  qt-models/diveimportedmodel.cpp
  qt-models/diveimportedmodel.h
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
  qt-models/filtermodels.cpp
  qt-models/filtermodels.h
  qt-models/mobilelistmodel.cpp
  qt-models/mobilelistmodel.h
  smtk-import/smartrak.c
  tests/testparse.cpp
  theme/list_lib.js
Labels: grammar

#2669 Fix deselection of dives
  core/selection.cpp
  core/subsurface-qt/divelistnotifier.h
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
Labels: bug-fix, code-cleanup, dive-list

#2672 Make statistics window resizable on Mac
  desktop-widgets/mainwindow.cpp
Labels: bug-fix, os-osx, statistics

#2681 mobile/edit: don't add dive site twice to table
  core/divesite.c
  core/divesite.h
  mobile-widgets/qmlmanager.cpp
Labels: bug-fix, dive-site, ui-mobile

#2679 filter: update fulltext index when editing dive
  commands/command_edit.cpp
Labels: bug-fix, dive-filter

#2691 Revert "core: use set_lang_locale to modify prefs.locale.lang_locale"
  core/qthelper.cpp
Labels: bug-fix, locale

#2692 Typo fix: Programm to program
  desktop-widgets/preferences/preferences_media.ui
Labels: new-contributor

#2697 divelist: don't initialize invalidFont at startup
  qt-models/divetripmodel.cpp
  qt-models/divetripmodel.h
Labels: bug-fix, ui-mobile

#2702 Properly update fulltext filter when editing a dive
  commands/command_edit.cpp
Labels: dive-filter, ui-mobile

#2710 [TRIVIAL] cleanup: remove loadFromCloud() declaration from QMLManager.h
  mobile-widgets/qmlmanager.h
Labels: code-cleanup, ui-mobile

#2713 [TEST] cleanup: don't compile subsurface-helper.cpp for tests
  subsurface-helper.cpp
  tests/CMakeLists.txt
Labels: code-cleanup, tests

#2712 [RFC] mobile: don't call saveChangesLocal() twice on non-iOS
  mobile-widgets/qmlmanager.cpp
Labels: code-cleanup, ui-mobile

#2711 cleanup: make QMLManager member functions private
  mobile-widgets/qmlmanager.h
Labels: code-cleanup, ui-mobile
