Repository subsurface/subsurface, pull requests merged in 2020-11, with the labels that each got.

#3056 core: on import remove merged dives from trip/divesite
  core/divelist.c
Labels: bug-fix, core, import

#3058 parser: don't crash when parsing <weight> tags [Alternative 1]
  core/parse-xml.c
Labels: bug-fix, core, import

#3070 filter: don't escape '&' in filter-preset menu
  desktop-widgets/filterwidget.cpp
Labels: bug-fix, dive-filter, ui-desktop

#3081 Gracefully handle infinite MND for oxygen
  CHANGELOG.md
  core/dive.c
Labels: bug-fix, dive-gas

#3093 cleanup: remove unused function in templatelayout.cpp
  desktop-widgets/templatelayout.cpp
Labels: code-cleanup, printing
