Repository subsurface/subsurface, pull requests merged in 2021-05, with the labels that each got.

#3239 [TRIVIAL] cleanup: free print dialog in planner
  desktop-widgets/diveplanner.cpp
Labels: code-cleanup, planner, printing

#3241 Planner: Update notes when not computing variations
  qt-models/diveplannermodel.cpp
Labels: bug-fix, planner

#3245 Planner: Update plan when deco parameters change
  qt-models/diveplannermodel.cpp
Labels: bug-fix, planner, ui-desktop

#3250 [TRIVIAL] cleanup: remove double layout name in statswidget.ui
  desktop-widgets/statswidget.ui
Labels: code-cleanup, ui-desktop
