Repository subsurface/subsurface, pull requests merged in 2021-07, with the labels that each got.

#3271 Handle dives with no samples
  desktop-widgets/mainwindow.cpp
  profile-widget/profilewidget2.cpp
Labels: dive-profile, import

#3272 profile: scale dive event items according to font print scale
  profile-widget/diveeventitem.cpp
  profile-widget/diveeventitem.h
  profile-widget/profilewidget2.cpp
Labels: printing, widget-profile

#3273 [TRIVIAL] cleanup: remove Printer::dpi member variable
  desktop-widgets/printer.cpp
  desktop-widgets/printer.h
Labels: code-cleanup, complexity-low, printing

#3289 cleanup: remove function static variables
  profile-widget/divetooltipitem.cpp
  profile-widget/divetooltipitem.h
Labels: code-cleanup, dive-profile
