Repository subsurface/subsurface, pull requests merged in 2022-09, with the labels that each got.

#3520 For warnings, show icon in infobox
  CHANGELOG.md
  profile-widget/diveeventitem.cpp
  profile-widget/divetooltipitem.cpp
  profile-widget/divetooltipitem.h
Labels: dive-profile

#3513 map: don't explicitly reload the map from the mainwindow
  desktop-widgets/mainwindow.cpp
  desktop-widgets/mapwidget.cpp
Labels: ui-desktop, code-cleanup

#3523 profile: don't use displayed_dive to check whether dive changed
  profile-widget/profilewidget2.cpp
Labels: bug-fix, widget-profile

#3524 desktop: disable extradata tab if no site selected
  desktop-widgets/tab-widgets/maintab.cpp
Labels: ui-desktop, bug-fix

#3526 desktop: cache isGnome3Session result
  desktop-widgets/modeldelegates.cpp
  desktop-widgets/simplewidgets.cpp
  desktop-widgets/simplewidgets.h
  desktop-widgets/tab-widgets/TabDiveEquipment.cpp
  desktop-widgets/tab-widgets/maintab.cpp
Labels: ui-desktop, code-cleanup
