Repository subsurface/subsurface, pull requests merged in 2023-05, with the labels that each got.

#3875 [TRIVIAL?] cleanup: remove unnecessary string duplication
  core/unix.c
Labels: core, code-cleanup

#3905 cleanup: fix typo: verboseEnabebled -> verboseEnabled
  mobile-widgets/qml/DiveDetailsView.qml
  mobile-widgets/qml/SsrfTextField.qml
Labels: ui-mobile, code-cleanup

#3906 Desktop: Rework the Summary CSV Export XSLT.
  CHANGELOG.md
  xslt/xml2manualcsv.xslt
Labels: format-csv
